<html lang="ja">
<head>
                <meta charset="utf-8">
                <title>OwlCalendar</title>
                <%= stylesheet_link_tag "stylesheet" %>
                <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
                <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<div class="header">

<div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
      <% if session[:userid] == nil %>
      <%= link_to({:controller => :login, :action => :main,})  do %>
      <p align="center" style="color:black;font-size:30px;margin-top:40px">ログイン</p><br>
      <%end%>
      <%else%>
      <p align="center" style="color:black;font-size:30px;margin-top:40px">ようこそ！<%=session[:username]%></p><br>
      <%= link_to({:controller => :mypage, :action => :index,})  do %>
      <p align="center" style="color:black;font-size:30px;">マイページ</p><br>
      <%end%>
      <%= link_to({:controller => :index, :action => :index,})  do %>
        <p align="center" style="color:black;font-size:30px;">カレンダー</p><br>
        <%end%>
      <%= link_to({:controller => :schedules, :action => :main,})  do %>
      <p align="center" style="color:black;font-size:30px">予定</p><br>
      <%end%>
      <%= link_to({:controller => :index, :action => :logout,})  do %>
      <p align="center" style="color:black;font-size:30px;">ログアウト</p><br>
      <%end%>
      
      <%end%>
      
      <p align="center" style="color:black;font-size:30px">OwlCalendar</p>
      </div>
      
  </div>

  <div class="datetitle" style="color:white">予定の新規作成</div>
  </div>

  <p class="bittitle" style="font-size:60px;margin-top:20px;margin-left:50px;color:black;">時間:</p>
  <%= form_tag({:controller => 'newschedule', :action => 'newschedule'}) do %>
    <div class="scheduletime" align="center" ><input class="inputtime" name="year" maxlength='4' align="center">年</div><br>
    <div class="scheduletime" align="center" ><input class="inputtime" name="month"  maxlength='2' align="center">月</div><br>
    <div class="scheduletime" align="center" ><input class="inputtime" name="day"  maxlength='2' align="center">日</div><br>
    <div class="scheduletime" align="center" ><input class="inputtime" name="hour"  maxlength='2'align="center">時</div><br>
    <div class="scheduletime" align="center" ><input class="inputtime" name="minute"  maxlength='2' align="center">分</div>
  <p class="bittitle" style="font-size:60px;margin-top:20px;margin-left:50px;color:black;">予定内容:</p>
  <textarea name="content" rows="8"></textarea>
  <br>
  <button class="button2">新規作成</button><br>
  <%end%>